Package: com.sushibta.a510player
Name: A510Player
Version: 0.4.0
Architecture: iphoneos-arm64
Description: Experimental direct A510 RTSP/H264 player with wired CarPlay scene.
Maintainer: sushibta25-design
Author: sushibta25-design
Section: Applications
